{% extends 'base.html' %}

{% load static %}

{% block title %}Andy Bowskill | Software Developer | South-West, UK{% endblock %}

{% block content %}

    <section class="section-padding bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="mx-auto mb-3 mb-lg-0 mb-lg-3">
              <h3>I'm Andy, a software developer with 15 plus years of real-life experience.</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-2">
            <div class="mx-auto mb-3 mb-lg-0 mb-lg-3">
              <p class="lead mb-0">I worked as a lead programmer in a Nasdaq listed company developing vehicle dealership software previously. I looked after 3 scrum teams for any technical issues, each team situated in Berkshire in the UK, Oulu in Finland and Hyderabad in India.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mx-auto mb-3 mb-lg-0 mb-lg-3">
              <img src="{% static 'img/avatar.png' %}"></img>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="mx-auto mb-3 mb-lg-0 mb-lg-3">
              <p class="lead mb-0">Please feel free to <a href="mailto:andybowskill@protonmail.com" target="_blank" rel="noopener">email me</a> and check out <a href="https://github.com/AndyBowskill" target="_blank" rel="noopener">my GitHub</a> code repository.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding">
      <div class="container">
        <div class="col-lg-8 offset-lg-2">
          <h5>This year, I built...</h5>
          <div class="list-group">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><a href="https://pypi.org/project/mkslug/" target="_blank" rel="noopener">Make a slug from a regular sentence</a>.</h5>
              </div>
              <p class="mb-1">I built and tested with python programming language. It's available on PIP (a package index for python).</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">This website</h5>
              </div>
              <p class="mb-1">I built and tested with the python programming language and Django framework. It's hosted by Heroku.</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">The <a href="https://andybowskill.github.io/overcome-aphasia/" target="_blank" rel="noopener">Tips and Tricks to Overcome Aphasia by Yourself</a> website.</h5>
              </div>
              <p class="mb-1">I used HTML 5, CSS 3 and JavaScript programming language. It's hosted on GitHub.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="col-lg-8 offset-lg-2">
          <h5>In previous years, I built...</h5>
          <div class="list-group">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">The Non-League Football website.</h5>
              </div>
              <p class="mb-1">I used C# programming language and ASP.NET Core to built and tested the website. It was hosted by Azure.</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">The Disability Confident website.</h5>
              </div>
              <p class="mb-1">The website to check what jobs are available with disability confident employers in the UK. I used C# programming language and ASP.NET Core to built and tested the website. In the backend, I used python programming language to get the data.</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">WiFi Speed Test GUI for a Raspberry Pi.</h5>
              </div>
              <p class="mb-1">I built and tested with python programming language.</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">The Non-League Football Apple App.</h5>
              </div>
              <p class="mb-1">I used Objective-C programming language to build the application.</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">The MakeUp Apple App.</h5>
              </div>
              <p class="mb-1">I used Objective-C programming language to build the application.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              {% for blog in blogs %}
              <div class="mx-auto mb-3 mb-lg-0 mb-lg-3">
                <h5><a href="{% url 'post_detail' blog.slug %}">{{ blog.title }}</a></h5>
                <h6>{{ blog.date }}</h6>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </section> -->

{% endblock %}