{% extends 'base.html' %}

{% load static %}

{% block title %}Andy Bowskill | Software Developer | South-West, UK{% endblock %}

{% load markdown_extras %}

{% block content %}

      <section class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4>{{ blog.title }}</h4>
            </div>
            <div class="col-lg-8 offset-lg-2">
              <h6>{{ blog.date }}</h6>
            </div>
            <div class="col-lg-8 offset-lg-2">
              <hr />
            </div>
            <div class="col-lg-8 offset-lg-2">
                {{ blog.content | markdown | safe }}                    
            </div>
          </div>
        </div>
      </section>

{% endblock %}